@keyframes hueShift {
  0% {
    background: #dd6666ee;
  }
  25% {
    background: #ddcb66ee;
  }
  50% {
    background: #66c5ddee;
  }
  75% {
    background: #b166ddee;
  }
  100% {
    background: #dd6666ee;
  }
}

.animated-background {
  animation: hueShift 600s linear infinite;
}
